<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC</title>
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
</head>

<body>
    <h1>MVC Models view controllers</h1>
    <form action="/" method="post">
        name <input type="text" name="name">
        email <input type="email" name="email">
        <input type="submit">
    </form>
</body>

</html>