<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <h1>form</h1>
    <form action="/form" method="post">
    <div>
        name: <input type="text"name="name">
    </div>
    <br>
    <br>
    <div>
        email: <input type="email" name="email">
    </div>
    <br>
    <br>
    <div>
        password: <input type="password" name="password">
    </div>
    <br>
    <br>
    <div>
        <input type="submit">
    </div>
</form>
</body>
</html>