<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
    <link rel="stylesheet" href="style.css">
    <!-- <style>
       body{
        background-color: black;
        color: white;
       }
    </style> -->
</head>
<body>
    <h1>subscribe my channel</h1>
    <h2><%=product.title %></h2>
    <button class="btn"><%= product.price %></button>
</body>
</html>